﻿@model Clientes_Core.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Cliente</h1>

<h3>¿Quieres borrar los datos del cliente?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cli_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cli_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
