﻿@model IEnumerable<Clientes_Core.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <p>
        <input type="search" placeholder="Ingresa Nombre o Correo...." name="cliSearch"
               value="@ViewData["GetClientesDetails"]" style="width:500px;" />
        <input type="submit" value="Buscar" class="btn btn-primary"/>
        <a asp-action="Index">ver todos</a>
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cli_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cli_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cli_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cli_id }, new { @class = "btn btn-primary" })|
                @Html.ActionLink("Details", "Detail", new { id = item.Cli_id }, new { @class = "btn btn-success" })| <!--el primer paramtro Details es el texto que aparecera y el segundo Detail es el Action-->
                @Html.ActionLink("Delete", "Delete", new { id = item.Cli_id }, new { @class = "btn btn-danger" })   @* Esta es la forma de comentar con razor en ASP.NET(archivos cshtml*@
            </td>
        </tr>
}
    </tbody>
</table>
